<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Class</th>
      <th>Images</th>
      <th>Labels</th>
      <th>P</th>
      <th>R</th>
      <th>mAP@.5</th>
      <th>mAP@.5:.95</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>all</td>
      <td>28</td>
      <td>35</td>
      <td>0.130</td>
      <td>0.433</td>
      <td>0.159</td>
      <td>0.058</td>
    </tr>
    <tr>
      <th>1</th>
      <td>beard</td>
      <td>28</td>
      <td>15</td>
      <td>0.033</td>
      <td>0.400</td>
      <td>0.134</td>
      <td>0.052</td>
    </tr>
    <tr>
      <th>2</th>
      <td>glasses</td>
      <td>28</td>
      <td>12</td>
      <td>0.032</td>
      <td>0.833</td>
      <td>0.212</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>3</th>
      <td>hat</td>
      <td>28</td>
      <td>4</td>
      <td>0.454</td>
      <td>0.500</td>
      <td>0.280</td>
      <td>0.116</td>
    </tr>
    <tr>
      <th>4</th>
      <td>cigarette</td>
      <td>28</td>
      <td>4</td>
      <td>0.000</td>
      <td>0.000</td>
      <td>0.010</td>
      <td>0.002</td>
    </tr>
  </tbody>
</table>