<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Class</th>
      <th>Images</th>
      <th>Labels</th>
      <th>P</th>
      <th>R</th>
      <th>mAP@.5</th>
      <th>mAP@.5:.95</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>all</td>
      <td>31</td>
      <td>38</td>
      <td>0.945</td>
      <td>0.973</td>
      <td>0.977</td>
      <td>0.718</td>
    </tr>
    <tr>
      <th>1</th>
      <td>beard</td>
      <td>31</td>
      <td>15</td>
      <td>0.856</td>
      <td>1.000</td>
      <td>0.903</td>
      <td>0.503</td>
    </tr>
    <tr>
      <th>2</th>
      <td>glasses</td>
      <td>31</td>
      <td>12</td>
      <td>1.000</td>
      <td>0.988</td>
      <td>0.995</td>
      <td>0.750</td>
    </tr>
    <tr>
      <th>3</th>
      <td>mask</td>
      <td>31</td>
      <td>3</td>
      <td>0.871</td>
      <td>1.000</td>
      <td>0.995</td>
      <td>0.787</td>
    </tr>
    <tr>
      <th>4</th>
      <td>hat</td>
      <td>31</td>
      <td>4</td>
      <td>1.000</td>
      <td>0.879</td>
      <td>0.995</td>
      <td>0.835</td>
    </tr>
    <tr>
      <th>5</th>
      <td>cigarette</td>
      <td>31</td>
      <td>4</td>
      <td>1.000</td>
      <td>1.000</td>
      <td>0.995</td>
      <td>0.718</td>
    </tr>
  </tbody>
</table>